@import "tailwindcss";

.btn{
@apply bg-sky-600 hover:bg-sky-900 text-white font-bold py-2 px-5 rounded
}
.btn2{
    @apply  border border-sky-600 text-sky-600 bg-white hover:bg-sky-600 hover:text-white font-bold py-2 px-5 rounded transition

}
.icon{
    @apply bg-sky-900 w-8 h-8 flex items-center justify-center rounded
}
.paragraph{
    @apply text-gray-400 hover:text-white cursor-pointer mb-1
}
